@import '../../globalStyles.scss';

.cart {
   @include wrapper();
   .cart_title {
      font-family: $headingFont;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 2rem;
   }
   .cart_empty {
      text-align: center;
      font-size: 1.4rem;
      a {
         text-decoration: underline;
         color: $mainColor;
      }
      span {
         color: $mainColor;
      }
      .basket_empty {
         font-size: 10rem;
         margin-bottom: 1rem
      }
    }
    .cart_item {
      @include flexBox(space-between, center, row);
      padding: 1rem 5rem;
      .item_image {
         img {
            height: 90px;
            width: 90px;
            border-radius: 50%;
            object-fit: cover;
         }
      }
      .count_input {
         width: 25px;
      }
      .remove_item {
         background: $mainColor;
         color: #fff;
         padding: .2rem .8rem;
         border-radius: .3rem;
         border: 0;
         outline: 0;
         font-weight: 700;
         font-size: .8rem;
         cursor: pointer;
         .remove_icon {
            font-size: 1.5rem;
         }
      }
      .view_item {
         font-size: 2rem;
         cursor: pointer;
      }
    }
    .clear_cart_row {
      @include flexBox(space-between, center, row);
      :first-child {
        visibility: hidden;
        pointer-events: none;
      }
      .clear_cart {
         background: crimson;
         color: #fff;
         padding: .5rem 1.5rem;
         border-radius: .3rem;
         border: 0;
         outline: 0;
         font-weight: 700;
         font-size: 1.1rem;
         cursor: pointer;
         display: inline-block;
         margin-top: 1rem;
         text-align: right;
       }
    }
    .summary {
      text-align: center;
      padding-top: 2rem;
      line-height: 2;
      .summary_title {
         font-family: $headingFont;
         color: $mainColor;
      }
      p {
         font-size: 1.3rem;
      }
      .summary_icon {
         color: $mainColor;
         margin-right: .5rem;
      }
    }
    .checkout_btn {
      background: $mainColor;
      color: #fff;
      padding: .5rem 1.5rem;
      border-radius: .3rem;
      border: 0;
      outline: 0;
      font-weight: 700;
      font-size: 1.1rem;
      cursor: pointer;
      display: inline-block;
      margin-top: 1rem;
    }
}
