@import '../../globalStyles.scss';

.login {
    .reset_desc {
        @include wrapper();
        width: 50%;
        padding-bottom: 2.3rem;
        font-weight: 500;
    }
    .message {
        @include flexBox(center, space-between, row);
        gap: 1rem;
        .message_icon {
            color: #fff;
            font-size: 2rem;
        }
    }
}