@import '../../globalStyles.scss';

.login {
    .message {
        @include flexBox(center, space-between, row);
        gap: 1rem;
        .message_icon {
            color: #fff;
            font-size: 2rem;
        }
    }
}