@import '../../globalStyles.scss';

nav {
    position: sticky;
    top: 0;
    z-index: 100000;
    background: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,.3);
}
.navbar {
    @include wrapper();
    @include flexBox(space-between, center, row);
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    .logo {
        font-weight: 500;
        font-size: 1.5rem;
        font-family: $headingFont;
        span {
            color: $mainColor;
        }
    }
    .nav_links {
        li {
            list-style: none;
            display: inline-block;
            a, p {
                margin-right: 1.7rem;
                font-size: 1.3rem;
                cursor: pointer;
                .nav_icon {
                    font-size: 1.5rem
                }
                .wishlist, .cart {
                    font-size: 1.6rem;
                    position: relative;
                }
            }
        }
        .count {
            background: $mainColor;
            color: #fff;
            padding: .2rem;
            border-radius: 50%;
            position: relative;
        }
        .cart {
            margin-right: .9rem;
        }
        .cart_count {
            right: 50px;
            top: -20px;
        }
        .wishlist_count {
            right: 100px;
            top: -20px;
        }
        .user {
            position: relative;
        }
        .user_auth {
            position: absolute;
            top: 5rem;
            background: #fff;
            max-height: 150px;
            max-width: 230px;
            transition: .5s ease-in-out;
            box-shadow: 0 3px 8px rgba(0,0,0,.3);
            .auth_links {
                padding: 1rem 1rem;
                display: none;
                line-height: 2;
                a {
                    color: $mainColor;
                }
                .logout {
                    cursor: pointer;
                    margin-top: -1rem;
                    background: $mainColor;
                    color: #fff;
                    padding: 0.1rem 0.2rem;
                    border-radius: 0.3rem;
                    border: 0;
                    outline: 0;
                    font-weight: 700;
                    text-align: center;
                }
            }
            .auth_links.show {
                display: block;
            }
        }
    }
}