$mainColor: #bb5353;
$headingFont: 'Permanent Marker', cursive;

@mixin wrapper() {
    max-width: 1400px;
    width: 90%;
    margin: auto;
}

@mixin flexBox($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin grid($tempCol) {
    display: grid;
    grid-template-columns: $tempCol;
}

.alert {
    color: #fff;
    padding: .5rem;
    width: 500px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 1rem;
}

.error {
    background: crimson;
}

.message {
    background: rgb(125, 194, 22);
}